:root {
  --background: #282c34;
  --eh-primary: #c98de7;
  --eh-primary-hover: #daa3f6;
  --eh-primary-faded: #f2f2f2;
  --dow-primary: #8dace7;
  --dow-primary-hover: #a3bcf6;
  --dow-primary-faded: #e9eefb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  user-select: none;
}

.link {
  transition: color 0.2s;
}

.link.eh{
  color: var(--eh-primary);
}
.link:hover.eh {
  color: var(--eh-primary-hover)
}

.link.dow{
  color: var(--dow-primary);
}
.link:hover.dow {
  color: var(--dow-primary-hover)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


button {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.2s;
}
button:hover {
  cursor: pointer;
}

button.eh {
  background-color: var(--eh-primary);
}
button:hover.eh {
  background-color: var(--eh-primary-hover);
}

button.dow {
  background-color: var(--dow-primary);
}
button:hover.dow {
  background-color: var(--dow-primary-hover);
}


input {
  border: none;
  border-radius: 5px;
  color: var(--background);
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input.eh {
  background-color: var(--eh-primary-faded);
}

input:focus.eh {
  outline: 5px solid var(--eh-primary);
}

input.dow {
  background-color: var(--dow-primary-faded);
}

input:focus.dow {
  outline: 5px solid var(--dow-primary);
}

.small-logo {
  height: 10vmin;
  pointer-events: none;
}
.small-logo.eh {
  filter: sepia(300%) hue-rotate(270deg) saturate(450%);
}
.small-logo.dow {
  filter: sepia(300%) hue-rotate(170deg) saturate(450%);
}

@media (prefers-reduced-motion: no-preference) {
  .small-logo {
    animation: small-logo-spin infinite 5s linear;
  }
}

@keyframes small-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
